<h3><%= "Family: #{@family.family_name}" %></h3>

<h5>Basic Information:</h5>
<p><strong>Parent Name: </strong><%= "#{@family.parent_first_name} #{@family.family_name}" %></p>
<p><strong>Username: </strong><%= @family.user.username %></p>
<p><strong>Email: </strong><%= mail_to @family.email, @family.email, encode: "javascript" %><br /></p>
<p><strong>Phone: </strong><%= number_to_phone @family.phone %></p>
<p><strong>Active:</strong>
  <%= @family.active ? "Yes" : "No" %>
</p>
