<h2 class="parent"><%= current_user.first_name %> <%= current_user.last_name %>&#146;s children </h2>

<link href="https://fonts.googleapis.com/css?family=Catamaran%7CQuicksand&display=swap" rel="stylesheet">

<div class="ui grid">
    <div class="four column centered row">
    <% for i in (0..(@your_children_accounts.size/2)-1) %>
      <div class="column">
          <div><%= image_tag @your_children_accounts[2*i].get_user[0].photo, width:"200", height:"200", :id => "avatar" %></div>
          <div id="name"><%= @your_children_accounts[2*i].get_user[0].first_name %> <%= @your_children_accounts[2*i].get_user[0].last_name %></div>
          <br>
          <div id="checking" class="container">
              <p id="label">Checking</p>
              <p id="balance">$<%= @your_children_accounts[2*i].balance %></p>
          </div>
          <div id="savings" class="container">
              <p id="label">Savings</p>
              <p id="balance">$<%= @your_children_accounts[(2*i)+1].balance %></p>
          </div>
          <br>
          <%= link_to '<button class="button" id="view_child_details">View / Modify Details</button>'.html_safe, @your_children_accounts[2*i].get_user %>
      </div>
    <% end %>

    <div class="column" style="padding-top: 225px">
      <%= link_to "(+) Create Child Account", new_user_path, :id => "create" %>
    </div>
    </div>
</div>