<h2>Welcome, <%= current_user.first_name %> <%= current_user.last_name %> </h2>


<h3>My Accounts: </h3>

<table>
  <thead>
    <tr>
      <th>Checking Account</th>
      <th>Savings Account</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to @my_accounts[0].name, @my_accounts[0] %></td>
      <td><%= link_to @my_accounts[1].name, @my_accounts[1] %></td>
    </tr>
  </tbody>
</table>



<h3>Your Children: </h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Checking Account</th>
      <th>Savings Account</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for i in (0..(@your_children_accounts.size/2)-1) %>
      <tr>
        <td><%= link_to @your_children_accounts[2*i].get_user[0].username, @your_children_accounts[2*i].get_user %></td>
        <td><%= link_to @your_children_accounts[2*i].name, @your_children_accounts[2*i] %></td>
        <td><%= link_to @your_children_accounts[(2*i)+1].name, @your_children_accounts[2*i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<li><%= link_to "Add a new Child!", new_user_path %></li>