<h2>Welcome, <%= current_user.first_name %> <%= current_user.last_name %> </h2>


<h3>My Accounts: </h3>

<table>
  <thead>
    <tr>
      <th>Checking Account</th>
      <th>Savings Account</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to @my_accounts[0].name, @my_accounts[0] %></td>
      <td><%= link_to @my_accounts[1].name, @my_accounts[1] %></td>
    </tr>
  </tbody>
</table>



<h3>Your Children: </h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Checking Account</th>
      <th>Savings Account</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @your_children_accounts.each do |child| %>
      <tr>
        <td><%= link_to child.get_user.first.username, child.get_user %></td>
        <td><%= link_to child.name, child %></td>
        <td><%= link_to child.name, child %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<li><%= link_to "Add a new Child!", new_user_path %></li>