<<<<<<< HEAD
<%= form_for @user,   :html => {:class => "ui form"} do |f| %>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <label>Last Name</label>
          <%= f.text_field :last_name, label_html: { class: 'active' } %>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <label>Email</label>
          <%= f.text_field :email, label_html: { class: 'active' } %>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Password</label>
          <%= f.password_field :password, label_html: { class: 'active' } %>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <%= f.password_field :password_confirmation, label_html: { class: 'active' } %>
        </div>
      </div>
      <% if current_user == nil %>
        <%= f.hidden_field :role, as: :hidden, input_html: { value: "Parent" } %>
        <%= f.hidden_field :relative_id, as: :hidden, input_html: { value: nil } %>
      <% elsif current_user != nil && current_user.role == "Parent" %>
        <%= f.hidden_field :role, as: :hidden, input_html: { value: "Child" } %>
        <%= f.hidden_field :relative_id, as: :hidden, input_html: { value: current_user.id } %>
      <% end %>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit, class: "ui button" %>
    </div>
  </div>
<% end %>


