<h3><%= "Username: #{@user.username}" %></h3>


    <!-- EDIT THIS SO THAT THE USER/INSTRUCTOR/PARENTS ARE DIFFERENT -->




<h5>Basic Information</h5>

<p><strong>Role: </strong><%= @user.role.capitalize %></p>

<% if @user.role == 'parent' %>
    <p><strong>First Name: </strong><%= @user.family.parent_first_name.capitalize %></p>
    <p><strong>Family Name: </strong><%= @user.family.family_name.capitalize %></p>

<% elsif @user.role == 'instructor' %>
    <p><strong>First Name: </strong><%= @user.instructor.first_name.capitalize %></p>
    <p><strong>Last Name: </strong><%= @user.instructor.last_name.capitalize %></p>
    <p><strong>Bio: </strong><%= @user.instructor.bio %></p>
    <div><%= image_tag(@user.instructor.picture_url.to_s) %></div>
<% end %>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= mail_to @user.email, @user.email, encode: "javascript" %><br /></p>
<p><strong>Phone: </strong><%= number_to_phone @user.phone %></p>
<p><strong>Active:</strong>
  <%= @user.active ? "Yes" : "No" %>
</p>