<p id="notice"><%= notice %></p>


<p>
  <% if @user.photo.nil? %>
    <div id="instructor_image"><%= image_tag 'no_image.jpg', width:"200", height:"200" %></div>
  <% else %>
    <div id="instructor_image"><%= image_tag @user.photo, width:"200", height:"200" %></div>
  <% end %>  
</p>

<div class="accountWrapper">
<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui segment account" style="min-width: 400px">
      <div class="account-wrapper">
        <div class="account-title">Checking Account</div>
        <div style="text-align: center">
          <div class="account-balance"><%= @user.get_accounts(@user)[0].balance %></div>
          <div class="account-line"></div>
          <%= link_to '<button class="account-button" style="color: white; background-color: #06AED5">View Transactions</button>'.html_safe, transactions_path %>
          <%= link_to '<button class="account-button" style="color: #DD1C1A; background-color: #FFDC51">Make a Transaction</button>'.html_safe, new_transaction_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment account" style="min-width: 400px">
      <div class="account-wrapper">
        <div class="account-title">Savings Account</div>
        <div style="text-align: center">
          <div class="account-balance"><%= @user.get_accounts(@user)[1].balance %></div>
          <div class="account-line"></div>
          <%= link_to '<button class="account-button" style="color: white; background-color: #06AED5">View Transactions</button>'.html_safe, transactions_path %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
