<link href="https://fonts.googleapis.com/css?family=Catamaran%7CQuicksand&display=swap" rel="stylesheet">

<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.input :amount, label_html: { class: 'active' } %>
      <%= f.input :description, label_html: { class: 'active' } %>
      <%= f.input :date, as: :hidden, input_html: { value: Time.now } %>
      

      <!-- NEED TO PASS IN WHAT FROM ACCOUNT IS IN THE PREVIOUS PAGE/CLICK -->
      <!-- 0 is checking / 1 is savings -->
      <!-- THIS IS FOR CHECKING TO SAVINGS -->
      <%= f.input :from_account, as: :hidden, input_html: { value: current_user.get_accounts(current_user)[0].id } %>
      <% if current_user != nil && current_user.role == "Child" %>
        <%= f.input :to_account, as: :hidden, input_html: { value: current_user.get_accounts(current_user)[1].id } %>
      <% elsif current_user != nil && current_user.role == "Parent" %>
        <%= f.input :to_account, collection: @possible_accounts, include_blank: true %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8" id="button">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
