<p id="notice"><%= notice %></p>

<h1>Transactions</h1>
<%= link_to 'New Transaction', new_transaction_path %>
<br/>
<div style="margin-bottom: 150px">
  <div class="ui two column grid" style="padding: 10px">
    <div class="column">
      <div class="transaction-title">Rich Fairbank | Savings Account</div>
    </div>
    <div class="column" style="text-align: right; padding: 10px">
      <span class="transaction-interest" style="color: black">Current Interest: </span><span class="transaction-interest" style="font-weight: bold">10% </span>
    </div>
  </div>
  <table style="width: 100%; border-collapse: collapse">
  <thead>
    <tr>
      <th class="transaction-header">Amount</th>
      <th class="transaction-header">Description</th>
      <th class="transaction-header">Type</th>
      <th class="transaction-header">Destination</th>
      <th class="transaction-header">Source</th>
      <th class="transaction-header">Date</th>
      <th class="transaction-header">Details</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td class="transaction-cell"><%= transaction.amount %></td>
      <td class="transaction-cell"><%= transaction.description %></td>
      <td class="transaction-cell"><%= transaction.trans_type %></td>
      <td class="transaction-cell"><%= link_to "%s - %s" % [transaction.get_account(transaction.to_account)[0].user.name, transaction.get_account(transaction.to_account)[0].name], transaction.get_account(transaction.to_account) %></td>
      <td class="transaction-cell"><%= link_to "%s - %s" % [transaction.get_account(transaction.from_account)[0].user.name, transaction.get_account(transaction.from_account)[0].name], transaction.get_account(transaction.from_account) %></td>
      <td class="transaction-cell"><%= transaction.date %></td>
      <td class="transaction-cell"><%= link_to 'Show', transaction %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
