<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.trans_type %>
</p>

<p>
  <strong>From account:</strong>
  <%= link_to "%s - %s" % [@transaction.get_account(@transaction.from_account)[0].user.name, @transaction.get_account(@transaction.from_account)[0].name], @transaction.get_account(@transaction.from_account) %>
</p>

<p>
  <strong>To account:</strong>
  <%= link_to "%s - %s" % [@transaction.get_account(@transaction.to_account)[0].user.name, @transaction.get_account(@transaction.to_account)[0].name], @transaction.get_account(@transaction.to_account) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<%= link_to 'Back', transactions_path %>
