<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @account.user.username,  @account.user%>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Interest Rate:</strong>
  <%= @account.interest_rate %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.account_type %>
</p>


<% if current_user != nil %>
  <% if current_user.role == "Parent" %>
    <%= link_to 'Edit', edit_account_path(@account) %> | 
  <% end %>
  <%= link_to 'Back', "/dashboard" %>
<% end %>
